{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Bibliography</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Short Title</th>
      <th scope="col">Bibliographic Entry</th>
      <th scope="col">Inscription References</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for bibliography_entry in bibliography_entries %}
    <tr>
      <th scope="row">{{ bibliography_entry.short_title }}</th>
      <td>{{ bibliography_entry.entry }}</td>
      <td>
        <ul>
          {% for inscription_reference in
          bibliography_entry.inscription_references.all %}
          <li class="inscription-list-item">
            <a
              href="{% url 'inscription_detail' inscription_reference.reference_id|default:'No reference ID' %}"
            >
              {{ inscription_reference.reference_id }}.{{
              inscription_reference.line_number_reference }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
