{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Divine and Sacred Beings</h2>
  <ul class="index-header-list">
    <li>
      <p>
        Square brackets [ ] indicate that the name/word is partially or
        completely restored in this inscription.
      </p>
    </li>
  </ul>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Divine being</th>
      <th scope="col">Epithets</th>
      <th scope="col">External resource</th>
      <th scope="col">References</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for divine_sacred_being in divine_sacred_beings %}
    <tr>
      <th scope="row">{{ divine_sacred_being.divine_being }}</th>
      <td>{{ divine_sacred_being.epithet }}</td>
      <td>{{ divine_sacred_being.external_resource }}</td>
      <td>
        <ul>
          {% for inscription_reference in
          divine_sacred_being.inscription_references.all %}
          <li class="inscription-list-item">
            <a
              href="{% url 'inscription_detail' inscription_reference.reference_id|default:'No reference ID' %}"
            >
              {{ inscription_reference.reference_id }}.{{
              inscription_reference.line_number_reference }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
