{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Symbols</h2>
  <ul class="index-header-list">
    <li>
      <p>
        Square brackets [ ] indicate that the name/word is partially or
        completely restored in this inscription.
      </p>
    </li>
  </ul>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">References</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for symbol in symbols %}
    <tr>
      <th scope="row">{{ symbol.symbol }}</th>
      <td>
        <ul>
          {% for inscription_reference in symbol.inscription_references.all %}
          <li class="inscription-list-item">
            <a
              href="{% url 'inscription_detail' inscription_reference.reference_id|default:'No reference ID' %}"
            >
              {{ inscription_reference.reference_id }}.{{
              inscription_reference.line_number_reference }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
